<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>

    <!--引入datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">

    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- 静态 变量 自己增加 -->
    <script>
        var site_url = '{SITE_URL}'
        var static_url = '{STATIC_URL}'
    </script>
{#    <script src="${STATIC_URL}js/settings.js"></script>#}
{#    <script src="${STATIC_URL}js/task.js"></script>#}
    <!-- 静态 变量  自己增加 结束-->
</head>

<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-container clearfix">
        <div class="king-instruction  king-instruction-info ">
            <h5>提示说明</h5>
            <p>查看磁盘使用率信息</p>
        </div>
        <form class="form-horizontal">
                            <div class="form-group clearfix ">
                                <label class="col-sm-3 control-label bk-lh30 pt0">ip：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control bk-valign-top" id="host_ip"
                                           placeholder="请输入ip"></div>
                            </div>
                            <div class="form-group clearfix f12">
                                <label class="col-sm-3 control-label bk-lh30 pt0">操作系统：</label>
                                <div class="col-sm-9">
                                    <select name="" id="host_system" class="form-control bk-valign-top">
                                        <option value="linux">linux</option>
                                        <option value="windows">windows</option>
                                        <option value="其它">其它</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group clearfix ">
                                <label class="col-sm-3 control-label bk-lh30 pt0">分区情况：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control bk-valign-top" id="host_disk"
                                           placeholder="请输入分区情况"></div>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button type="button" class="king-btn mr10  king-info" id="submit">提交</button>
                                <button type="reset" class="king-btn king-default">取消</button>
                            </div>
                        </form>
    </div>
</div>

<div class="king-page-box">
    <div id='showTable'></div>
</div>
</body>


<script>
    
    $("#submit").on('click', function () {
        var ip = $('#host_ip').val();
        var system = $('#host_system').val();
        var disk = $('#host_disk').val();
        console.log(ip, system, disk);
        let data = {
            'ip': ip,
            'system': system,
            'disk': disk
        };
        $.ajax({
            url: '{% url "hsq:get_usage_data" %}',
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data['result']) {
                    $("#showTable").text(data.data[0])
                    
                    
                    
                   
                   
                   
                    
                }
            }
        });
    });
</script>
</html>